<!DOCTYPE html>
<html>
    <head>
        <title>Password Generator</title>
    </head>

    <body style="text-align:center;font-family:Arial">
        
        <h2>Password Generator</h2>

        <form method="POST">

            <input type="number" name="length" placeholder="Enter password length">

            <br><br>

            <button type="submit">Generate password</button>

        </form>

        <h3>{{password}}</h3>

        <br>

        <a href="/">Go Home</a>
        
    </body>
</html>